<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>定制</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename ='css/mystyle.css')}}">
</head>
<body>
<br><br>
<!--两个下拉框，一个按钮生产-->
<div style="text-align: center">
    <div>
        <a>头发颜色</a>
        <a>眼睛颜色</a>
    </div>
    <div>
        <label>
            <select class="hair" style="font-size: larger">
                <option value="0">绿色</option>
                <option value="1">黄色</option>
                <option value="2">红色</option>
                <option value="3">黑色</option>
                <option value="4">蓝色</option>
                <option value="5">紫色</option>
            </select>
        </label>
        <label style="margin-left: 10px">
            <select class="eye" style="font-size: larger">
                <option value="0">紫色</option>
                <option value="1">绿色</option>
                <option value="2">棕色</option>
                <option value="3">红色</option>
                <option value="4">蓝色</option>
            </select>
        </label>
    </div>
</div>
<div style="text-align: center">
    <button id="btn_submit" class="btn">生成</button>
</div>

<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
    $('#btn_submit').click(function () {
        var hair = $(".hair option:selected").val();
        var eye = $(".eye option:selected").val();
        window.location.href = "/special_2?eye=" + eye + "&hair=" + hair;
    });
</script>
</body>
</html>